#cards
{
	margin-top: 50px;
}

#rodape
{
	height: 100px;
	background-color: #000;
}

.cor-fonte
{
	color: #fff;
}

#preenchimento
{
	margin-top:20px;
	margin-bottom:70px;
}

#botao-enviar
{
	margin-top:20px;
}

#conteudo
{
	margin-top: 50px;
}

#oqwr
{
	margin-top:50px;
}

#imagens
{
	margin-top:30px;
	margin-bottom: 50px;
}

#champ
{
	margin-top:50px;
}

#hb
{
	margin-top:50px;
	margin-bottom:50px;
}

