

#cards
{
	margin-top: 50px;
}

#rodape
{
	height: 150px;
	background-color: #000;
}

.cor-fonte
{
	color: #fff;
}

#rodape .col-4
{
	margin-top:30px;
}

#preenchimento
{
	margin-top:20px;
	margin-bottom:70px;
}

#botao-enviar
{
	margin-top:20px;
}

#conteudo
{
	margin-top: 50px;
}

#oqwr
{
	margin-top:50px;
	font-size:130%;
}

#imagens
{
	margin-top:30px;
	margin-bottom: 50px;
}

#champ
{
	margin-top:50px;
}

#hb
{
	margin-top:50px;
	margin-bottom:50px;
}

.texto-noticia
{
	margin-top: 50px;
	margin-bottom: 50px;
	text-align:center; 
	color:#000;
}

.notice
{
	margin-top:20px;
	margin-bottom:20px;
}

.zoom-mouse img
{
	width: 100%;
	height:100%;
	 -webkit-transition: -webkit-transform .5s ease;
	transition: transform .5s ease;
}

.zoom-mouse:hover img
{
	-webkit-transform: scale(1.1);
   transform: scale(1.1);
}

.conteudo-cards
{
	font-size:110%;
	text-decoration: none;
}

.conteudo-cards card-title card-text
{
	color:#000;
}

#linkNoticia a
{
	text-decoration:none;
}

.pedaco-texto
{
	margin-top:25px;
	margin-bottom:25px;
}

.ftchamp
{
	margin-top:20px;
	margin-bottom:20px;
}

.ftchamp h5
{
	text-align: center;
}


.skills
{
	margin-top:30px;
	margin-bottom:30px;
}

.tituloChamp
{
	font-size:500%;
}

#corpo-login
{
	background-color:#fff;
	border-radius:3%;
	padding-right:120px;
	padding-left:120px;
	padding-top:40px;
	padding-bottom:40px;
	margin-top:104px;
	margin-bottom:153px;
}

#corpo-cadastro
{
	background-color:#fff;
	border-radius:3%;
	padding-right:120px;
	padding-left:120px;
	padding-top:40px;
	padding-bottom:40px;
	margin-top:64px;
	margin-bottom:64px;
}

.fundo-login
{
	background-image: url(../img/wrback.webp);
	background-repeat:no-repeat;
}

.login-enviar
{
	margin-top:20px;
}

body
{
	background-image: url("https://cdn.donmai.us/original/fd/86/__jinx_league_of_legends_and_3_more_drawn_by_vaffer__fd86d21da390e91ff5ba9765351befac.jpg");
	background-size:cover;
	background-repeat: no-repeat;
	
}

h1, h2, h3, h4, h5, p, label
{
	text-shadow: 2px 2px 8px #000;
	color:#fff;
}

.nome-Champ
{
	color:#000;
}